a{
  font-size: 1em;
}


.btn-back{
    width: 50px;
    height: 50px;
    font-size: 28px;
    font-weight: 400;
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 0;
    background-color: #8CBAFA;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 100px;
    margin-top: 50px;
}

.btn-back:hover,
.btn-back:focus,
.btn-back:active{
  color: white;
}


.btn-back:before {
  background:#8CBAFA;
  background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#8CBAFA), to(#8CBAFA));
  
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  
  -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF; 
  -moz-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF; 
  box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
  
  position: absolute;
  content: "";
  left: -6px; right: -6px;
  top: -6px; bottom: -10px;
  z-index: -1;
}

.btn-back:active {
  -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
  top:5px;
}
.btn-back:active:before{
  top: -11px;
  bottom: -5px;
  content: "";
}

#arrow{
margin-top: 10px;
text-align: center;
}



.capture_detail {
  background: #8CBAFA;
  color: #fff;
  text-align: center;
  border: solid 1px #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}


@media all and (max-width: 768px) {
  h2{
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 10px;
  }
  h3{
    font-size: 1.2em;
    margin-left: 5px;
  }
  a{
    font-size: 1em;
  }

  p{   
    padding: 10px;
  }

  .capture_detail_parent,.btn-back, #carousel {
    display: none;
  }

  .capture_detail{
    padding: 0px;
  }
  
}

.title{
  margin-bottom: 50px;
}
.parameters{
  font-weight: bold;
}
.keywords {
  font-style: italic;
}